[user]
	email = karol.marcjan@gmail.com
	name = Karol Marcjan
[push]
	default = simple
[alias]
	logg = log --graph --oneline --decorate
	logs = log --graph --oneline --decorate -10
	logm = log --graph --oneline --decorate master
	logt = log --graph master~1.. --oneline --decorate
	logl = log --graph origin/master~1.. --oneline --decorate
	ff = merge --ff-only
[core]
	editor = vim
[diff]
	algorithm = patience
