[submodule ".vim/bundle/easytree.vim"]
	path = .vim/bundle/easytree.vim
	url = https://github.com/troydm/easytree.vim/
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-seek"]
	path = .vim/bundle/vim-seek
	url = https://github.com/goldfeld/vim-seek
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule ".vim/bundle/vim-indentblank"]
	path = .vim/bundle/vim-indentblank
	url = https://github.com/deuiore/vim-indentblank/
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/vim-niji"]
	path = .vim/bundle/vim-niji
	url = git@github.com:szabba/vim-niji.git
[submodule ".vim/bundle/vimbufsync"]
	path = .vim/bundle/vimbufsync
	url = https://github.com/def-lkb/vimbufsync
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-pandoc-syntax"]
	path = .vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule ".vim/bundle/vim-pantondoc"]
	path = .vim/bundle/vim-pantondoc
	url = https://github.com/vim-pandoc/vim-pantondoc
[submodule "Code/Shellshock"]
	path = Code/Shellshock
	url = https://github.com/daniel-middleton/Shellshock
[submodule ".vim/bundle/vim-autopep8"]
	path = .vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git@github.com:tomasr/molokai.git
